.ellipse-175 {
    border-radius: 37px;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/533aef140864d5aa834184fecafe4bb4c51f2e1b?Expires=1712223971&KeyName=fn12-cdn&Signature=-LQyOTJ4tqAaaKNox0SAHU2rHz4=') 50% / cover no-repeat;
    margin: 15px 0 32px 0;
    width: 74px;
    height: 74px;
  }
  .ellipse-176 {
    border-radius: 61px;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/533aef140864d5aa834184fecafe4bb4c51f2e1b?Expires=1712223971&KeyName=fn12-cdn&Signature=-LQyOTJ4tqAaaKNox0SAHU2rHz4=') 50% / cover no-repeat;
    margin: 0.2px 0 15px 0;
    width: 122px;
    height: 122px;
  }
  .sipeter-11 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/3137aeb924ac8ba6dbd3e314d851f6853169915a?Expires=1712223971&KeyName=fn12-cdn&Signature=VpJgzldkOSWyQVpJ_SpNgRj1tQg=') 50% / cover no-repeat;
    width: 213px;
    height: 121px;
  }
  .container {
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 287px;
    box-sizing: border-box;
  }
  .login {
    background: #F9FBFD;
    width: 1728px;
    box-sizing: border-box;
  }
  .group-63 {
    margin-left: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .sistem-pencatatan-dan-pelaporan-terpadu-puskesmas-sipeter-merupakan-aplikasi-sistem-informasi-yang-akan-digunakan-untuk-mengelola-kegiatan-sp-2-tp-pada-puskesmas-cantigi-aplikasi-yang-akan-dibangun-akan-digunakan-untuk-mengelola-pelaporan-dan-pencatatan-data-data-yang-diperlukan-dalam-kegiatan-sp-2-tp {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 28px;
    color: #FFFFFF;
  }
  .sistem-pencatatan-dan-pelaporan-terpadu-puskesmas {
    margin: 0 30.5px 94px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
  }
  .selamat-datang-di {
    margin: 0 18.5px 11px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
  }
  .group-62 {
    box-shadow: 0px 4px 35px 0px rgba(9, 71, 152, 0.08);
    border-radius: 40px;
    background: #FFFFFF;
    position: absolute;
    top: 180px;
    right: 286px;
    display: flex;
    flex-direction: column;
    padding: 46.8px 44px 0 44px;
    height: 709px;
    box-sizing: border-box;
  }
  .group-56 {
    box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    background: linear-gradient(90.92deg, #176EDC, #094798);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 1px 17.5px 0;
    width: 451px;
    box-sizing: border-box;
  }
  .login-1 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  .group-60 {
    margin-bottom: 57.2px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .group-54 {
    margin-bottom: 34.8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .group-55 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .group-49 {
    margin: 0 0 22.2px 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
  .selamat-datang-di-sipeter {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 21px;
    line-height: 1.333;
    color: #094798;
  }
  .selamat-datang-di-sipeter-sub31 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 21px;
    line-height: 1.333;
  }
  .selamat-datang-di-sipeter-sub50 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 21px;
    line-height: 1.333;
    color: rgba(9, 71, 152, 0.58);
  }
  .login-2 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 55px;
    color: #094798;
  }
  .container-3 {
    margin-bottom: 53.1px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-4 {
    margin-right: 45.8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-5 {
    background: linear-gradient(127.64deg, #176EDD, #094798);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 21px 0 194px 62px;
    width: 1172px;
    height: fit-content;
    box-sizing: border-box;
  }
  .container-6 {
    border-radius: 9px;
    border: 1px solid #094798;
    background: #FFFFFF;
    position: relative;
    padding: 20.2px 25px 19.4px 25px;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-7 {
    border-radius: 9px;
    border: 1px solid #094798;
    background: #FFFFFF;
    position: relative;
    padding: 20.2px 25px 19.4px 25px;
    width: fit-content;
    box-sizing: border-box;
  }
  .enter-your-username-or-email-address {
    margin-bottom: 15.3px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #094798;
  }
  .username-or-email-address {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    color: rgba(9, 71, 152, 0.7);
  }
  .enter-your-password {
    margin-bottom: 15.3px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #094798;
  }
  .password {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    color: rgba(9, 71, 152, 0.7);
  }

  /* halaman-dashboard  */

  .container {
    background: #FFFFFF;
    position: relative;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    padding: 25px 31px 364px 27px;
    width: 316px;
    box-sizing: border-box;
  }
  .container-1 {
    background: linear-gradient(90deg, #1572E8, #1572E8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 34px 25px 30px 0;
    width: 317px;
    box-sizing: border-box;
  }
  .container-2 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-3 {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-4 {
    border-radius: 11px;
    background: #31CE36;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px 6.5px 3px 7px;
    box-sizing: border-box;
  }
  .container-5 {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-6 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-7 {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.07), -4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 0 662px 25px;
    box-sizing: border-box;
  }
  .container-8 {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-9 {
    background: linear-gradient(90deg, #1269DB, #1269DB);
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 31px 15px 42px;
    width: 1412px;
    box-sizing: border-box;
  }
  .clickbar-main {
    border-radius: 6px;
    background: #1572E8;
    position: absolute;
    left: 15px;
    top: 124px;
    right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 25px 19px 15px;
    box-sizing: border-box;
  }
  .dashboard {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
  }
  .vector-1 {
    margin: 0 22px 0.5px 0;
    width: 27.5px;
    height: 21.5px;
  }
  .segitiga-bawah {
    margin: 7px 0 8px 0;
    width: 12px;
    height: 7px;
  }
  .dashboard-10 {
    background: #F9FBFD;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 814px;
    width: 1728px;
    box-sizing: border-box;
  }
  .content {
    border-radius: 5px;
    position: absolute;
    right: 34px;
    bottom: 63px;
    padding-left: 2px;
    box-sizing: border-box;
  }
  .ini-isi-konten {
    margin: 0 1px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .ini-judul-konten {
    margin-bottom: 48px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #434343;
  }
  .line-7 {
    background: #434343;
    position: absolute;
    left: 0px;
    top: 81px;
    width: 1336px;
    height: 1px;
  }
  .dashboard-admin {
    margin-bottom: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
  }
  .dashboard-tambah-data-karyawan {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 1.333;
  }
  .navbar {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 22px 0 30px 1071px;
    width: 1412px;
    box-sizing: border-box;
  }
  .notification {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 11px 9px;
    box-sizing: border-box;
  }
  /* .4 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
  } */
  .bell {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 22px;
    height: 21px;
  }
  .username {
    margin: 12px 19px 15px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 21px;
    color: #D9D9D9;
  }
  .photo-profile {
    border-radius: 26px;
    background: #D9D9D9;
    width: 52px;
    height: 52px;
  }
  .search-bar {
    box-shadow: -4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    background: #0F5ABC;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 11px 0 16px 18px;
    width: 490px;
    box-sizing: border-box;
  }
  .search-icon {
    margin: 0 24px 3px 0;
    width: 22px;
    height: 22px;
  }
  .search {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
  }
  .sidebar {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .line-4 {
    background: #FFFFFF;
    margin-bottom: 6px;
    width: 25px;
    height: 3px;
  }
  .line-5 {
    background: #FFFFFF;
    margin-bottom: 5px;
    width: 25px;
    height: 3px;
  }
  .line-6 {
    background: #FFFFFF;
    width: 25px;
    height: 3px;
  }
  .sipeter-logo {
    position: absolute;
    left: 29px;
    top: 8px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .sipeter {
    margin: 23px 0 37px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 21px;
    color: #FFFFFF;
  }
  .s {
    margin-right: 13.9px;
    overflow-wrap: break-word;
    font-family: 'Kumar One';
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
  }
  .menu-dashboard {
    position: relative;
    margin: 0 2px 48.5px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-pengguna {
    margin: 0 2px 33px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-kegiatan {
    margin: 0 1px 41px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-kesakitan {
    margin: 0 2px 41px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-gizi-kia {
    margin: 0 2px 39px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-id-pkm {
    margin-bottom: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-sp-2-tbulanan {
    margin: 0 1px 39px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-sp-2-ttahunan {
    margin: 0 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .components {
    margin: 0 127.8px 37px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 17px;
    color: #7F7F7F;
  }
  .sidebar-profile {
    margin-bottom: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 258px;
    box-sizing: border-box;
  }
  .photo-profile-13 {
    border-radius: 26px;
    background: #D9D9D9;
    margin: 0 10px 2px 0;
    width: 52px;
    height: 52px;
  }
  .hizrian {
    margin: 0 1px 13px 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #7F7F7F;
  }
  .administrator {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    color: #575757;
  }
  .polygon-1 {
    margin: 20px 0 27px 0;
    width: 12px;
    height: 7px;
  }
  .container-14 {
    background: linear-gradient(90deg, #176FE0, #094798);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 66px 0 76px 42px;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-15 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .segitiga-bawah-16 {
    margin: 7px 0 7.5px 0;
    width: 12px;
    height: 7px;
  }
  .dashboard-17 {
    margin-bottom: 0.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .vector-118 {
    width: 27.5px;
    height: 21.5px;
  }
  .segitiga-bawah-19 {
    margin: 7px 0 14px 0;
    width: 12px;
    height: 7px;
  }
  .data-pengguna-20 {
    margin-bottom: 7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .ellipse-9 {
    border-radius: 5.1px;
    background: #92999C;
    margin: 0 5.4px 0 6.2px;
    width: 10.1px;
    height: 10.1px;
  }
  .ellipse-10 {
    width: 21.8px;
    height: 17.9px;
  }
  .user-icon {
    margin-right: 27.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.8px;
    box-sizing: border-box;
  }
  .segitiga-bawah-21 {
    margin: 10px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-kegiatan-22 {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712224680&KeyName=fn12-cdn&Signature=qOMfR1e6ZEK0lD65DVKCVqIl8Cw=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-23 {
    margin: 8px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-kesakitan-24 {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .group-237468 {
    margin-bottom: 1.7px;
    width: 23.6px;
    height: 20.3px;
  }
  .segitiga-bawah-25 {
    margin: 8px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-gizi-kia-26 {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .gizi {
    margin-bottom: 1px;
    width: 23.4px;
    height: 21px;
  }
  .segitiga-bawah-27 {
    margin: 10px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-ppm {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-28 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712224680&KeyName=fn12-cdn&Signature=qOMfR1e6ZEK0lD65DVKCVqIl8Cw=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-29 {
    margin: 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-sp-2-tp-bulanan {
    margin-right: 15.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-30 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712224680&KeyName=fn12-cdn&Signature=qOMfR1e6ZEK0lD65DVKCVqIl8Cw=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-31 {
    margin: 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-sp-2-tp-tahunan {
    margin-right: 11.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-32 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712224680&KeyName=fn12-cdn&Signature=qOMfR1e6ZEK0lD65DVKCVqIl8Cw=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .container-33 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  /* halaman-data-kesakitan */

  .isian {
    border-radius: 6px;
    margin: 0 0 63px 60.3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .diisi {
    border-radius: 6px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .dd-mm-yyyy {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .diisi-1 {
    border-radius: 6px;
    margin: 0 0 40px 2.2px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .pilih {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .diisi-3 {
    border-radius: 6px;
    margin: 0 0 40px 17.5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .nama {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .diisi-5 {
    border-radius: 6px;
    margin: 0 0 40px 21.7px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .pilih-7 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .diisi-8 {
    border-radius: 6px;
    margin: 0 0 40px 32.9px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .sub {
    margin: 11px 32px 11px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #000000;
  }
  .sub-10 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .diisi-11 {
    border-radius: 6px;
    margin-left: 5.9px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .jumlah {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .jenis {
    margin: 11px 32px 11px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #000000;
  }
  .nama-13 {
    margin: 11px 32px 11px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #000000;
  }
  .periode {
    margin: 11px 32px 11px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #000000;
  }
  .tanggal {
    margin: 11px 32px 11px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #000000;
  }
  .jumlah-14 {
    margin: 11px 32px 11px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #000000;
  }
  .simpan {
    overflow-wrap: break-word;
    font-family: 'Sen';
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
  }
  .subtract {
    width: 24.5px;
    height: 21.5px;
  }
  .icon-save {
    margin: 0.7px 19px 0.7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 24.5px;
    height: 21.5px;
    box-sizing: border-box;
  }
  .simpan-button {
    border-radius: 7px;
    background: #1572E8;
    position: relative;
    margin-right: 766.1px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 11.4px 17.1px 11.4px 16px;
    width: fit-content;
    box-sizing: border-box;
  }
  .container {
    background: linear-gradient(90deg, #1572E8, #1572E8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 34px 25px 30px 0;
    width: 317px;
    box-sizing: border-box;
  }
  .container-15 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-16 {
    border-radius: 6px;
    border: 1px solid rgba(15, 89, 184, 0.76);
    position: relative;
    padding: 11px 25.2px;
    width: 1068.1px;
    box-sizing: border-box;
  }
  .container-17 {
    border-radius: 11px;
    background: #31CE36;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px 6.5px 3px 7px;
    box-sizing: border-box;
  }
  .container-18 {
    border-radius: 6px;
    border: 1px solid rgba(15, 89, 184, 0.76);
    position: relative;
    padding: 11px 25.2px;
    width: 1068.1px;
    box-sizing: border-box;
  }
  .container-19 {
    border-radius: 6px;
    border: 1px solid rgba(15, 89, 184, 0.76);
    position: relative;
    padding: 11px 25.2px;
    width: 1068.1px;
    box-sizing: border-box;
  }
  .data-kesakitan {
    background: #F9FBFD;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 814px;
    width: 1728px;
    box-sizing: border-box;
  }
  .content {
    border-radius: 5px;
    position: absolute;
    right: 34px;
    bottom: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2px;
    box-sizing: border-box;
  }
  .tambah-data-kesakitan {
    margin-bottom: 79px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #434343;
  }
  .line-7 {
    background: #434343;
    position: absolute;
    left: 0px;
    top: 81px;
    width: 1336px;
    height: 1px;
  }
  .data-kesakitan-20 {
    margin-bottom: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
  }
  .data-kesakitan-21 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #B5CFF1;
  }
  .navbar {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 22px 0 30px 1071px;
    width: 1412px;
    box-sizing: border-box;
  }
  .notification {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 11px 9px;
    box-sizing: border-box;
  }
  /* .4 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
  } */
  .bell {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 22px;
    height: 21px;
  }
  .username {
    margin: 12px 19px 15px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 21px;
    color: #D9D9D9;
  }
  .photo-profile {
    border-radius: 26px;
    background: #D9D9D9;
    width: 52px;
    height: 52px;
  }
  .search-bar {
    box-shadow: -4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    background: #0F5ABC;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 11px 0 16px 18px;
    width: 490px;
    box-sizing: border-box;
  }
  .search-icon {
    margin: 0 24px 3px 0;
    width: 22px;
    height: 22px;
  }
  .search {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
  }
  .sidebar {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .line-4 {
    background: #FFFFFF;
    margin-bottom: 6px;
    width: 25px;
    height: 3px;
  }
  .line-5 {
    background: #FFFFFF;
    margin-bottom: 5px;
    width: 25px;
    height: 3px;
  }
  .line-6 {
    background: #FFFFFF;
    width: 25px;
    height: 3px;
  }
  .sipeter-logo {
    position: absolute;
    left: 29px;
    top: 8px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .sipeter {
    margin: 23px 0 37px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 21px;
    color: #FFFFFF;
  }
  .s {
    margin-right: 13.9px;
    overflow-wrap: break-word;
    font-family: 'Kumar One';
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
  }
  .menu-dashboard {
    margin: 0 2px 48.5px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-pengguna {
    margin: 0 2px 33px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-kegiatan {
    margin: 0 1px 104px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-gizi-kia {
    margin: 0 2px 39px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-id-pkm {
    margin-bottom: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-sp-2-tbulanan {
    margin: 0 1px 39px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-sp-2-ttahunan {
    margin: 0 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .components {
    margin: 0 127.8px 37px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 17px;
    color: #7F7F7F;
  }
  .sidebar-profile {
    margin-bottom: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 258px;
    box-sizing: border-box;
  }
  .photo-profile-24 {
    border-radius: 26px;
    background: #D9D9D9;
    margin: 0 10px 2px 0;
    width: 52px;
    height: 52px;
  }
  .hizrian {
    margin: 0 1px 13px 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #7F7F7F;
  }
  .administrator {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    color: #575757;
  }
  .polygon-1 {
    margin: 20px 0 27px 0;
    width: 12px;
    height: 7px;
  }
  .clickbar-main {
    border-radius: 6px;
    background: #1572E8;
    position: absolute;
    left: 50%;
    top: 460px;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 0 19px 29px;
    width: 317px;
    box-sizing: border-box;
  }
  .data-kesakitan-25 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
  }
  .segitiga-bawah {
    margin: 8px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .group-237468 {
    margin-bottom: 1.7px;
    width: 23.6px;
    height: 20.3px;
  }
  .container-26 {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-27 {
    border-radius: 6px;
    border: 1px solid rgba(15, 89, 184, 0.76);
    position: relative;
    padding: 11px 25.2px;
    width: 1068.1px;
    box-sizing: border-box;
  }
  .container-28 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-29 {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.07), -4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 86px 85.1px 25px;
    box-sizing: border-box;
  }
  .container-30 {
    background: #FFFFFF;
    position: relative;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    padding: 25px 31px 364px 27px;
    width: 316px;
    box-sizing: border-box;
  }
  .container-31 {
    border-radius: 6px;
    border: 1px solid rgba(15, 89, 184, 0.76);
    position: relative;
    padding: 11px 25.2px;
    width: 1068.1px;
    box-sizing: border-box;
  }
  .container-32 {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-33 {
    border-radius: 6px;
    border: 1px solid rgba(15, 89, 184, 0.76);
    position: relative;
    padding: 11px 25.2px;
    width: 1068.1px;
    box-sizing: border-box;
  }
  .container-34 {
    background: linear-gradient(90deg, #176FE0, #094798);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 66px 0 76px 42px;
    width: fit-content;
    box-sizing: border-box;
  }
  .segitiga-bawah-35 {
    margin: 7px 0 7.5px 0;
    width: 12px;
    height: 7px;
  }
  .dashboard {
    margin-bottom: 0.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .vector-1 {
    width: 27.5px;
    height: 21.5px;
  }
  .segitiga-bawah-36 {
    margin: 7px 0 14px 0;
    width: 12px;
    height: 7px;
  }
  .data-pengguna-37 {
    margin-bottom: 7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .ellipse-9 {
    border-radius: 5.1px;
    background: #92999C;
    margin: 0 5.4px 0 6.2px;
    width: 10.1px;
    height: 10.1px;
  }
  .ellipse-10 {
    width: 21.8px;
    height: 17.9px;
  }
  .user-icon {
    margin-right: 27.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.8px;
    box-sizing: border-box;
  }
  .segitiga-bawah-38 {
    margin: 10px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-kegiatan-39 {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712225494&KeyName=fn12-cdn&Signature=AuP1Yl-o_lHBmyDLd3hMTol0cZk=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-40 {
    margin: 8px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-gizi-kia-41 {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .gizi {
    margin-bottom: 1px;
    width: 23.4px;
    height: 21px;
  }
  .segitiga-bawah-42 {
    margin: 10px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-ppm {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-43 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712225494&KeyName=fn12-cdn&Signature=AuP1Yl-o_lHBmyDLd3hMTol0cZk=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-44 {
    margin: 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-sp-2-tp-bulanan {
    margin-right: 15.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-45 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712225494&KeyName=fn12-cdn&Signature=AuP1Yl-o_lHBmyDLd3hMTol0cZk=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-46 {
    margin: 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-sp-2-tp-tahunan {
    margin-right: 11.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-47 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712225494&KeyName=fn12-cdn&Signature=AuP1Yl-o_lHBmyDLd3hMTol0cZk=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .container-48 {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-49 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-50 {
    background: linear-gradient(90deg, #1269DB, #1269DB);
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 31px 15px 42px;
    width: 1412px;
    box-sizing: border-box;
  }

  /* halaman-data-pengguna */

  .container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-1 {
    background: linear-gradient(90deg, #1572E8, #1572E8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 34px 25px 30px 0;
    width: 317px;
    box-sizing: border-box;
  }
  .container-2 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-3 {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-4 {
    background: linear-gradient(90deg, #176FE0, #094798);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 66px 0 76px 42px;
    width: fit-content;
    box-sizing: border-box;
  }
  .data-pengguna {
    background: #F9FBFD;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 814px;
    width: 1728px;
    box-sizing: border-box;
  }
  .content {
    border-radius: 5px;
    position: absolute;
    right: 34px;
    bottom: 63px;
    padding-left: 2px;
    box-sizing: border-box;
  }
  .ini-judul-konten {
    margin-bottom: 48px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #434343;
  }
  .data-pengguna-5 {
    margin-bottom: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
  }
  .data-pengguna-6 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #B5CFF1;
  }
  .navbar {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 22px 0 30px 1071px;
    width: 1412px;
    box-sizing: border-box;
  }
  .notification {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 11px 9px;
    box-sizing: border-box;
  }
  /* .4 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
  } */
  .bell {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 22px;
    height: 21px;
  }
  .photo-profile {
    border-radius: 26px;
    background: #D9D9D9;
    width: 52px;
    height: 52px;
  }
  .sidebar {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .line-4 {
    background: #FFFFFF;
    margin-bottom: 6px;
    width: 25px;
    height: 3px;
  }
  .line-5 {
    background: #FFFFFF;
    margin-bottom: 5px;
    width: 25px;
    height: 3px;
  }
  .line-6 {
    background: #FFFFFF;
    width: 25px;
    height: 3px;
  }
  .sipeter-logo {
    position: absolute;
    left: 29px;
    top: 8px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .sipeter {
    margin: 23px 0 37px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 21px;
    color: #FFFFFF;
  }
  .s {
    margin-right: 13.9px;
    overflow-wrap: break-word;
    font-family: 'Kumar One';
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
  }
  .menu-dashboard {
    margin: 0 2px 48.5px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .components {
    margin: 0 127.8px 37px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Sen';
    font-weight: 400;
    font-size: 17px;
    color: #7F7F7F;
  }
  .sidebar-profile {
    margin-bottom: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 258px;
    box-sizing: border-box;
  }
  .photo-profile-8 {
    border-radius: 26px;
    background: #D9D9D9;
    margin: 0 10px 2px 0;
    width: 52px;
    height: 52px;
  }
  .hizrian {
    margin: 0 1px 13px 1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #7F7F7F;
  }
  .administrator {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    color: #575757;
  }
  .polygon-1 {
    margin: 20px 0 27px 0;
    width: 12px;
    height: 7px;
  }
  .line-7 {
    background: #434343;
    position: absolute;
    left: 0px;
    top: 81px;
    width: 1336px;
    height: 1px;
  }
  .data-pengguna-9 {
    margin: 0 2px 33px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-kegiatan {
    margin: 0 1px 41px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-kesakitan {
    margin: 0 2px 41px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-gizi-kia {
    margin: 0 2px 39px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 243.5px;
    box-sizing: border-box;
  }
  .data-id-pkm {
    margin-bottom: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-sp-2-tbulanan {
    margin: 0 1px 39px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .data-sp-2-ttahunan {
    margin: 0 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 244.5px;
    box-sizing: border-box;
  }
  .ini-isi-konten {
    margin: 0 1px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #A8A8A8;
  }
  .search-icon {
    margin: 0 24px 3px 0;
    width: 22px;
    height: 22px;
  }
  .search {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
  }
  .search-bar-10 {
    box-shadow: -4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    background: #0F5ABC;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 11px 0 16px 18px;
    width: 490px;
    box-sizing: border-box;
  }
  .container-11 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .clickbar-main {
    border-radius: 6px;
    background: #1572E8;
    position: absolute;
    left: 50%;
    top: 333px;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 0 12px 29px;
    width: 317px;
    box-sizing: border-box;
  }
  .data-pengguna-12 {
    margin-bottom: 7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
  }
  .segitiga-bawah {
    margin: 8px 0 14px 0;
    width: 12px;
    height: 7px;
  }
  .user-icon {
    margin: 1px 28.2px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .ellipse-10 {
    width: 21.8px;
    height: 17.9px;
  }
  .ellipse-9 {
    border-radius: 5.1px;
    background: #FFFFFF;
    margin: 0 5.4px 0 6.2px;
    width: 10.1px;
    height: 10.1px;
  }
  .username {
    margin: 12px 19px 15px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 21px;
    color: #D9D9D9;
  }
  .container-13 {
    border-radius: 11px;
    background: #31CE36;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px 6.5px 3px 7px;
    box-sizing: border-box;
  }
  .container-14 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-15 {
    background: #FFFFFF;
    position: relative;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    padding: 25px 31px 364px 27px;
    width: 316px;
    box-sizing: border-box;
  }
  .container-16 {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-17 {
    background: linear-gradient(90deg, #1269DB, #1269DB);
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 31px 15px 42px;
    width: 1412px;
    box-sizing: border-box;
  }
  .container-18 {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .segitiga-bawah-19 {
    margin: 7px 0 7.5px 0;
    width: 12px;
    height: 7px;
  }
  .dashboard {
    margin-bottom: 0.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .vector-1 {
    width: 27.5px;
    height: 21.5px;
  }
  .segitiga-bawah-20 {
    margin: 7px 0 14px 0;
    width: 12px;
    height: 7px;
  }
  .data-pengguna-21 {
    margin-bottom: 7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .ellipse-922 {
    border-radius: 5.1px;
    background: #92999C;
    margin: 0 5.4px 0 6.2px;
    width: 10.1px;
    height: 10.1px;
  }
  .ellipse-1023 {
    width: 21.8px;
    height: 17.9px;
  }
  .user-icon-24 {
    margin-right: 27.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.8px;
    box-sizing: border-box;
  }
  .segitiga-bawah-25 {
    margin: 10px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-kegiatan-26 {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712226202&KeyName=fn12-cdn&Signature=m21I9EgE1AWj5Y5YaY6bAUCOlIA=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-27 {
    margin: 8px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-kesakitan-28 {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .group-237468 {
    margin-bottom: 1.7px;
    width: 23.6px;
    height: 20.3px;
  }
  .segitiga-bawah-29 {
    margin: 8px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-gizi-kia-30 {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .gizi {
    margin-bottom: 1px;
    width: 23.4px;
    height: 21px;
  }
  .segitiga-bawah-31 {
    margin: 10px 0 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-ppm {
    margin-top: 3px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-32 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712226202&KeyName=fn12-cdn&Signature=m21I9EgE1AWj5Y5YaY6bAUCOlIA=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-33 {
    margin: 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-sp-2-tp-bulanan {
    margin-right: 15.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-34 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712226202&KeyName=fn12-cdn&Signature=m21I9EgE1AWj5Y5YaY6bAUCOlIA=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .segitiga-bawah-35 {
    margin: 7px 0;
    width: 12px;
    height: 7px;
  }
  .data-sp-2-tp-tahunan {
    margin-right: 11.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    color: #92999C;
  }
  .folder-image-streamline-ultimate-png-36 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/YKq2CwWvNjvWaNKUJDWzmN/assets/images/d085a52c02e196f9b0e5e55a41ce6d740950b951?Expires=1712226202&KeyName=fn12-cdn&Signature=m21I9EgE1AWj5Y5YaY6bAUCOlIA=') 50% / cover no-repeat;
    width: 24px;
    height: 24px;
  }
  .container-37 {
    box-shadow: 4px 4px 10.8px 0px rgba(0, 0, 0, 0.07), -4px 4px 10.8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 0 662px 25px;
    box-sizing: border-box;
  }